.account_login {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.account_login input {
  width:100%;
  margin-bottom: 10px;
  height: 20px;
  font-size: 20px;
}

.account_login button {
  width:50%;
  font-size: 20px;
}